@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-lora);
}

@layer base {
  body {
    scrollbar-width: none;
  }
  body::-webkit-scrollbar {
    display: none;
  }
}
